.main-container {
	font-family: sans-serif;
	background-color: #D9EDF7;
	background-size: 100%;
	/*background-width: 100%;*/
	color: #6B7096;
	text-align: center;
	margin:auto;
	overflow: hidden;
}

.main-container, h1 {
	color: #31708F;
	padding-top: 30px;
	padding-bottom: 30px;
	border: 2px solid #31708F;
	box-shadow: #B4B5B5 20px 20px 20px;
	/*border:3px solid #6B7096;*/
	
}

.main-container, button {
	color: #6B7096;
	/*margin: auto;*/
	padding: 15px;
	border: 2px solid #31708F;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 10px;
	box-shadow: #B4B5B5 10px 10px 10px;

}

.main-conatiner, li {
	list-style: none;
	margin-left: -40px;
}

.main-container, ul {
	padding-top: 20px;
}

